/HelloWord_project1/build/
/HelloWord_project1/nbproject/private/
/JavaComments/nbproject/private/
/JavaComments_Project2/nbproject/private/
/HelloWord/build/
/HelloWord/nbproject/private/
/Experiment_1/nbproject/private/
/Experiment_1/build/
/WithoutStringArgs/nbproject/private/
/WithoutStringArgs/build/
/WithoutStringArgs/dist/
/SumOfTwoNumbers/nbproject/private/
/SumOfTwoNumbers/build/
/SumOfTwoNumbers/dist/
/EscapeSequence/nbproject/private/
/EscapeSequence/build/